@{
    ViewData["Title"] = "Home Page";
}


<h1>Do it!</h1>


<div class="playingCards rotateHand faceImages">

    <div class="card rank-a spades">
        <span class="rank">A</span>
        <span class="suit">&spades;</span>
        <p>ola</p>
    </div>

</div>
